<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./head.ejs") %>
  </head>
  <body>
    <div class="container">
      <h1><a href="/">PJS - Tag Creator</a></h1>
      This site uses JSON5. Feel free to put comments and remove quotes <br />
      Visit <a href="https://s-url.cf/embeds" target="_blank">this link</a> for
      more info about the embed format
      <div class="row">
        <div class="col-6">
          <form method="POST">
            <fieldset>
              <legend>Tag creation</legend>
              <label for="name">Tag Name</label>
              <input type="text" name="name" id="name" required /> <br />
              <label for="json">JSON embed</label>
              <textarea
                name="json"
                id="json"
                cols="30"
                required
                rows="10"
              ></textarea>
              <br />
              <input type="submit" value="Add" class="button primary outline" />
              <% if( locals.type === "failjson") { %>
              <p class="red">Parsing your JSON has failed. fix it bro</p>
              <% } %> <% if( locals.type === "tagexists") { %>
              <p class="red">That tag already exists</p>
              <% } %>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
